body{
   text-align: center;
}
.btn{
  border: solid 3px #B9D4D4B;
  width: 100px;
  HEIGHT: 100px;
  display: inline;
  color:white;
  background-color: #A9BEBC;
  font-size: 30px;


}
h1{
  color: #478BA2;
}
*/